lakieditori-api/src/main/resources/schemas/document.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:group name="formattingElements">
    <xs:choice>
      <xs:element name="em" type="formattedTextWithLinksType"/>
      <xs:element name="strong" type="formattedTextWithLinksType"/>
    </xs:choice>
  </xs:group>

  <xs:complexType name="formattedTextType" mixed="true">
    <xs:annotation>
      <xs:documentation>
        This type defines type for text content that can contain formatting tags (e.g. 'em').
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="formattingElements"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="formattedTextWithLinksType" mixed="true">
    <xs:annotation>
      <xs:documentation>
        This type extends formatted text content with links ('a'). This is used as a basic type for
        user entered text content.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="formattingElements"/>
      <xs:element name="a" type="linkType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="linkType">
    <xs:annotation>
      <xs:documentation>
        This type defines attributes and a base type for link.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="formattedTextType">
        <xs:attribute name="href" type="xs:anyURI" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="formattedTextWithLinksType"/>
        <xs:element name="note" type="formattedTextWithLinksType" minOccurs="0"/>
        <xs:element name="intro" type="formattedTextWithLinksType" minOccurs="0"/>
        <xs:choice>
          <xs:element name="chapter" minOccurs="0" maxOccurs="unbounded" type="chapterType"/>
          <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sectionType"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="number" type="xs:string" use="required"/>
      <xs:attribute name="createdBy" type="xs:string"/>
      <xs:attribute name="createdDate" type="xs:dateTime"/>
      <xs:attribute name="lastModifiedBy" type="xs:string"/>
      <xs:attribute name="lastModifiedDate" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="chapterType">
    <xs:annotation>
      <xs:documentation>
        This type defines fields for chapter (in Finnish "luku").
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="title" type="formattedTextWithLinksType"/>
      <xs:element name="section" minOccurs="0" maxOccurs="unbounded" type="sectionType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="sectionType">
    <xs:annotation>
      <xs:documentation>
        This type defines fields for section (in Finnish "pykälä").
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="title" type="formattedTextWithLinksType"/>
      <xs:element name="subsection" minOccurs="0" maxOccurs="unbounded" type="subsectionType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="subsectionType">
    <xs:annotation>
      <xs:documentation>
        This type defines fields for subsection (in Finnish "momentti").
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="content" type="formattedTextWithLinksType"/>
      <xs:element name="paragraph" minOccurs="0" maxOccurs="unbounded" type="paragraphType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="paragraphType">
    <xs:annotation>
      <xs:documentation>
        This type defines fields for paragraph (in Finnish "kohta").
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="content" type="formattedTextWithLinksType"/>
      <xs:element name="subparagraph" minOccurs="0" maxOccurs="unbounded" type="subparagraphType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="subparagraphType">
    <xs:annotation>
      <xs:documentation>
        This type defines fields for subparagraph (in Finnish "alakohta").
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="content" type="formattedTextWithLinksType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
